@tailwind base;
@tailwind components;
@tailwind utilities;

/*JERARQUÍA DE COLORES*/
:root {
  --color-primary: 74 125 255;   /* Azul principal #4A7DFF */
  --color-secondary: 115 0 255; /* Morado secundario #9d36ff */
  --color-background: 20 20 20; /* Fondo oscuro actual #121212 */
  --color-darker: 5 5 5; /* Fondo más oscuro #050505 */
  --color-darker-button: 5 5 5; /* Fondo más oscuro #050505 */
  --text-color: 255 255 255; /* Color de texto blanco */
  --text-color-secondary: 200 200 200; /* Color de texto secundario gris claro */
}

/*TEMA ALTERNATIVO*/
[data-theme="alt"] {
  --color-primary: 74 125 255;    /* Mismo azul original */
  --color-secondary: 115 0 255;   /* Mismo morado original */
  --color-background: 217 217 217; /* Gris muy claro #f8fafc */
  --color-darker: 115 0 255;    /* Gris suave #e6ebf0 */
   --color-darker-button: 217 217 217; /* Fondo más oscuro #050505 */
  --text-color: 87 87 87;         /* Gris oscuro #141419 */
  --text-color-secondary: 105 105 105; /* Gris medio #50555f */
}
/* Nueva animación de levitación */
@keyframes levitacion {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}
.animacion-flotar {
  animation: levitacion 6s ease-in-out infinite;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}